.main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  filter: blur(5px);
}

.login-box {
  background-color: #8d8c8c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  width: 30%;
  position: absolute;
  height: auto;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
}

.container-bottom p {
  margin: 10px 0%;
  font-size: 1rem;
  font-weight: 450;
  justify-content: left;
}
